{{ define "footer" }}
<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="static/js/tilt.jquery.min.js"></script>
<script src="static/js/vendor/bootstrap.min.js"></script>
<script src="static/js/superfish.min.js"></script>
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/spletnica.js"></script>
<script type="text/javascript" src="static/js/loading-bar.js"></script>
{{ end }}
