{{ define "header" }}
<!-- start header Area -->
<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <img src="static/img/logo.png" alt="" title="" />
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="https://vk.com/spletnicaosnk">Сообщество</a></li>
                    <li><a href="https://vk.me/join/EB2bfefcsarYLokgWDUT0lMaK9QZKMDKPZA=">Беседа</a></li>
                    <li class="menu-has-children"><a href="https://vk.com/board120111018">Обсуждения</a>
                        <ul>
                            <li><a href="https://vk.com/topic-120111018_34820833">Куплю / продам</a></li>
                            <li><a href="https://vk.com/topic-120111018_37816289">Чей номер?</a></li>
                            <li><a href="https://vk.com/topic-120111018_40660601">Делимся гигами</a></li>
                            <li><a href="https://vk.com/topic-120111018_34590106">Предложения по развитию</a></li>
                            <li><a href="https://vk.com/topic-120111018_35777226">Реклама и сотрудничество</a></li>
                            <li><a href="https://vk.com/topic-120111018_35469500">Платные услуги</a></li>
                        </ul>
                    </li>
                    <li><a href="https://vk.com/im?media=&sel=-120111018">Написать нам</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- end header Area -->

{{ end }}
